@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding-inline-end: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #fdf9f9;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 10px;
    
}
.navbar{
    display: flex;
}
.navbar li{
    list-style: none;
    margin: 10px;
   
}
.navbar li a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-weight: 600px;
    padding: 15px 20px;
}

.navbar li :hover{
    color:#E02C6D ;
} 
.navbar li a:hover{
    color:#E02C6D ;
   

}
.top-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    
}
.left h1{
   font-size: 40px;
   
}
.left p{
    font-size: 18px;
}
.left a{
    text-decoration: none;
    width: 30%;
    padding: 7px 20px;
    background-color: #E02C6D;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
}
.right img{
    width: 50%;
    margin: 100px;
    
}
.right img:hover{
    transform: scale(2,2);
    transition: transform 1s linear;
}
.middle-section{
    margin: 50px;
}

.middle-section h2 {
    text-align: center;
    font-size: 35px;

}

.artical-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
    margin: 120px;
    position: relative;
   
   
}

.blog{
  
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 1px;
    
    background-color: #FFFFFF;
    position: relative;
}
.blog h3{
    font-weight: 300;
    font-size: 25px;
}
.filled{
    color: goldenrod;
}
.link{
    text-decoration: none;
    color:#E02 ;
    position: absolute;
    left: 1100px;
   
}
.last-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left1 img{
    width: 50%;
    margin: 100px;
    padding-left: 100px;
}
.right1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    
}
.right1 h1{
   font-size: 40px;
   
}
.right1 p{
    font-size: 18px;
}
.right1 a{
    text-decoration: none;
    width: 20%;
    padding: 7px 20px;
    background-color: #E02C6D;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
}
footer{
    background-color: rgb(31, 29, 29);
    color: rgb(199, 193, 193);
}
.foot{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fill{
    padding: 5px;
}

@media only screen and (max-width: 950px){
    main{
        width: 100%;
    }
    .top-section{
        grid-template-columns: 1fr;
    }
    .left{
        order: 2;
        width: 60%;
    }
    .artical-blog{
        grid-template-columns: 1fr 1fr;
    }
    .last-section{
        grid-template-columns: 1fr;
    }
   
    .right1{
        margin-left: 100px;
    }
    .right1 a{
        margin-bottom: 20px;
        padding: 5px 20px;
        width: 20%;
    }
   
    
}
@media only screen and (max-width: 550px){
    main{
        max-width: 100%;
    }
    .top-section{
        grid-template-columns: 1fr;
    }
    .left{
        order: 2;
    }
    .middle-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .artical-blog{
        grid-template-columns: 1fr;
    }
    .last-section{
        grid-template-columns: 1fr;
    }
    .left1{
        margin-right: 70px;
    }
    
    .right1{
        margin-left: 100px;
    }
    .right1 a{
        margin-bottom: 20px;
        padding: 5px 20px;
        width: 30%;
    }
    
}